@import "../App.scss";

//440x36

.projects{
  width: 100%;
  height: 100%;
  //text-align: center;
  //border: 1px solid red;
  border-right: 1px solid  $border-light;
  h3{
    //border: 1px solid red;
    margin-left: 3.5em;
    margin-top: 2em;
  }

  &__add{
    //border: 1px solid red;
    margin-top: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  
    input {
    //margin-left: 2em;
    width: 600px;
    height: 35px;
    border-radius: $round-border;
    border: 1px solid $border-light ;
    }
    input::placeholder{
      padding-left: 1.5em;
    }

    button{
      margin-left: 1em;
      cursor: pointer;
      width: 100px;
      height: 35px;
      border-radius: $round-border;
      border: 1px solid $border-light ;
      background-color: $border-green;
    }
  }

  &__activities{
    //margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      display: flex;
      padding-left: 1em;
      align-items: center;
      border-radius: $round-border;
      border: 1px solid $border-light ;
      width: 590px;
      height: 39px;

    }

  &--drop{
    margin-left: 1em;
    display: flex;
    width: 50px;
    height: 35px;
    justify-items: center;
    border-radius: $round-border;
    border: 1px solid $border-light ;
    align-items: center;
    justify-content: center;
    //border: 1px solid hotpink;
    }
  
  &--arrows{
    display: flex;
    flex-direction: column;
  }

  &--icons{
    width: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 0.5em;
  }
  }
}