@import "../App.scss";

.timer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  //border: 1PX solid red;

  &__pomodoro{
    margin-top: 2em;
    width: 370px;
    height: 250px;
    border: 1px solid blue;
    border-radius: $round-border;
    border: 3px solid $border-light ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //justify-content: space-between;


    &__clock{
      display: flex;
      align-items: center;
      font-size: 5em;
      color: $pomodoro;
      font-weight: 300;
      margin: 0;

      p{
        margin: 0.2em;
        color: $border-green;
      }

      button{
        border: 2px solid $border-green;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        background-color: whitesmoke;
      }
      
    }
  /* 
    &__icons{
      cursor: pointer;
      margin: 1em 0 2em;
      color: $pomodoro;
      border: 1px solid red;
    }
 */
    &__buttons{
      //border: 1px solid red;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      
      button{
        width: 110px;
        height: 25px;
        border-radius: $round-border;
        background-color: $font-secondary;
        border: 1px solid $border-light ;
        font-weight: bold;
      }
    }
  }

  &__statics{
    //border: 1px solid firebrick;
    margin-top: 3em;
  }

}

